@font-face {
    font-family: tt-commons-outline;
    src: url('../fonts/TT_Commons_Classic_Outline.woff');
}

@font-face {
    font-family: tt-rationalist;
    src: url('../fonts/TT_Rationalist_Variable_Roman.woff');
}

html {
    background-color: #251f33;
}

h1 {
    font-family: tt-commons-outline;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1;
    padding: 30px;
    background-color: #251f33;
    color: #e4d9fa
}

div {
    font-family: tt-rationalist;
    font-size: 20px;
    background-color: #251f33;
    color: #e4d9fa
}


/* p:hover {
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1;
} */

p {
    font-family: tt-rationalist;
    font-weight: 100;
    /* font-variation-settings: "wght" 800, "wdth" 85; */
    /* font-style: italic; */
    font-size: 20px;
    font-stretch: 1%;
    font-optical-sizing: auto;
    padding-left: 250px;
    /* text-decoration: underline;
    text-decoration-color: rgb(255, 90, 255); */
    color: #e4d9fa
}

p.underline {
    font-family: tt-rationalist;
    text-decoration: underline;
    text-decoration-color: rgb(255, 90, 255);
}

p.narrow {
    font-family: tt-rationalist;
    text-align: left;
    font-size: 30px;
    font-stretch: 33.3%;
}

p.wide {
    font-family: tt-rationalist;
    text-align: left;
    font-size: 30px;
    font-stretch: 151%;
    vertical-align: text-top;
}


/* .list {
    text-align: left;
    width: 45px;
    margin: 30px auto;
}

.list__item {
    width: 100px;
    text-align: left;
    float: left;
    margin-left: 5px;
} */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #251f33;
    overflow-x: hidden;
    padding-top: 200px;
}

.sidenav a {
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #e4d9fa;
    display: block;
}


/* .sidenav a:hover {
    color: #f1f1f1;
} */

a.button:link {
    text-decoration: none
}

a.button-active {
    text-decoration: none;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1
}

a.button:hover {
    text-decoration: none;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1
}