@font-face {
    font-family: tt-commons-outline;
    src: url('../fonts/TT_Commons_Classic_Outline.woff');
}

@font-face {
    font-family: tt-commons;
    src: url('../fonts/TT_Commons_Classic_Variable_Roman.woff');
}

@font-face {
    font-family: tt-rationalist;
    src: url('../fonts/TT_Rationalist_Variable_Roman.woff');
}

html {
    background-color: #251f33;
}

h1 {
    font-family: tt-commons-outline;
    font-size: 80px;
    text-align: center;
    line-height: 50px;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1;
    padding-top: 0px;
    background-color: #251f33;
    color: #e4d9fa
}

h2 {
    font-family: tt-rationalist;
    font-size: 40px;
    text-align: left;
    padding-left: 250px;
    background-color: #251f33;
    color: #e4d9fa
}

h2.center {
    text-align: center;
}

h3 {
    font-family: tt-rationalist;
    font-size: 30px;
    text-align: left;
    padding-left: 250px;
    background-color: #251f33;
    color: #e4d9fa
}

h3.center-underline {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 90, 255)
}

h4 {
    font-family: tt-rationalist;
    font-size: 23px;
    text-align: left;
    padding-left: 250px;
    background-color: #251f33;
    color: #e4d9fa
}

h4.underline {
    padding-left: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 90, 255);
}

ul.list2 {
    font-family: tt-commons;
    padding-left: 300px;
    text-indent: 20px;
    font-size: 21px;
}

.list {
    line-height: 40px;
}

div {
    font-family: tt-rationalist;
    font-size: 20px;
    background-color: #251f33;
    color: #e4d9fa
}

.twoColumn {
    width: 49%;
    float: left
}

p {
    /* font-family: tt-rationalist; */
    font-family: tt-commons;
    text-indent: 20px;
    font-size: 21px;
    line-height: 25px;
    /* font-variation-settings: "wght" 800, "wdth" 85; */
    /* font-weight: 100; */
    /* font-stretch: 1%; */
    /* font-optical-sizing: auto; */
    padding-left: 250px;
    color: #e4d9fa
}

p-c {
    font-family: tt-rationalist;
    font-weight: 100;
    font-size: 20px;
    font-stretch: 1%;
    font-optical-sizing: auto;
    color: #e4d9fa
}

p.center-small {
    font-size: 15px;
    text-align: center
}

a {
    color: rgb(255, 90, 255);
}

a-p {
    /* padding-left: 250px; */
    color: rgb(255, 90, 255)
}

a-с {
    color: rgb(255, 90, 255)
}

p-u.underline {
    font-family: tt-rationalist;
    text-decoration: underline;
    text-decoration-color: rgb(255, 90, 255)
}

p.narrow {
    font-family: tt-rationalist;
    text-align: left;
    font-size: 30px;
    font-stretch: 33.3%;
}

p.wide {
    font-family: tt-rationalist;
    text-align: left;
    font-size: 30px;
    font-stretch: 151%;
    vertical-align: text-top;
}


/* .list {
    text-align: left;
    width: 45px;
    margin: 30px auto;
}

.list__item {
    width: 100px;
    text-align: left;
    float: left;
    margin-left: 5px;
} */

.sidenav {
    font-family: tt-commons;
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 12deg;
    font-size: 3.5vw;
    /* font-variation-settings: "wght" 625, "wdth" 100 'GRAD' 18; */
    /* font-weight: 225;
    font-stretch: 55%;
    font-size: 164px;
    font-optical-sizing: none; */
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #251f33;
    overflow-x: hidden;
    padding-top: 200px;
    line-height: 50px
}

.sidenav a {
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #e4d9fa;
    display: block;
}


/* .sidenav a:hover {
    color: #f1f1f1;
} */

a.button:link {
    text-decoration: none
}

a.button-active {
    text-decoration: none;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1
}

a.button:hover {
    text-decoration: none;
    text-shadow: 0 0 10px #9c3da1, 0 0 20px #9c3da1, 0 0 30px #9c3da1, 0 0 40px #9c3da1
}

img {
    max-width: 40%;
    padding-left: 250px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.text {
    max-width: 80%;
    padding-left: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}

.bottom {
    /* position: fixed; */
    bottom: 20;
    margin-right: 5px;
    position: relative;
    float: right;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}